/* Heroine.css */

.search-area {
    position: relative;
  }
  
  .search-suggestions {
    position: absolute;
    top: calc(70% + 10px);
    left: 250;
    right:480px;
    width: 60%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .suggestion-item {
    padding: 10px;
    cursor: pointer;
  }
  
  .suggestion-item:hover {
    background-color: #f0f0f0;
  }
  